# Desenvolvimento local
DEBUG=True
SECRET_KEY=chaveradar-chave-local-desenvolvimento

# Deixe vazio para usar SQLite local.
# No Render, configure com a URI do Session pooler do Supabase.
DATABASE_URL=

# Futuro dominio proprio, se necessario:
DJANGO_ALLOWED_HOSTS=
